<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LaborationApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      *ngIf="(auth.currentUser$ | async) !== null"
      class="navbar-nav mr-auto text-left"
    >
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <i class="fa fa-home"></i>
        {{ "NAV.HOME" | translate}}
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item"  *ngIf="(auth.currentUser$ | async).role == 'Worker'">
      <a class="nav-link" routerLink="/worker-tips">
        <i class="fa fa-heart"></i>
        {{ "NAV.TIPS" | translate}}
      </a>
    </li>
    <li class="nav-item"  *ngIf="(auth.currentUser$ | async).role == 'Worker'">
      <a class="nav-link" routerLink="/feedbacks">
        <i class="fa fa-comment"></i>
        {{ "NAV.FEEDBACKS" | translate}}
      </a>
    </li>
      <div>
        

      </div>

      <li *ngIf="(auth.currentUser$ | async).role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/factors">
          <i class="fa fa-cog"></i>
          {{ "NAV.FACTORS" | translate}}
        </a>
      </li>
      <li *ngIf="(auth.currentUser$ | async).role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/tips">
          <i class="fa fa-heart"></i>
          {{ "NAV.TIPS" | translate}}
        </a>
      </li>
      <li *ngIf="(auth.currentUser$ | async).role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/roles">
          <i class="fa fa-users"></i>
          {{ "NAV.ROLES" | translate}}
        </a>
      </li>

      <div *ngIf="(auth.currentUser$ | async).role == 'Enterpreneur'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/company">
            <i class="fa fa-building"></i>
            {{ "NAV.COMPANY" | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/company/feedbacks">
            <i class="fa fa-comment"></i>
            {{ "NAV.FEEDBACKS" | translate}}
          </a>
        </li>
      </div>
    </ul>

    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <label style="color: white" class="mr-2">EN</label>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="isUa"
            (change)="changedLanguage()"
          />
          <span class="slider round"></span>
        </label>
        <label style="color: white" class="ml-2">UA</label>
      </li>
    </ul>

    <div>
      <ul
        *ngIf="(auth.currentUser$ | async) === null"
        class="navbar-nav ml-auto"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">
            <i class="fa fa-user"> </i>
            {{ "AUTH.REGISTER.REGISTER" | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fa fa-sign-in"> </i>
            {{ "AUTH.LOGIN.LOGIN" | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <ul *ngIf="(auth.currentUser$ | async) !== null" class="navbar-nav ml-auto">
      <li class="nav-item">
        <button (click)="logout()">
          <i class="fa fa-sign-out"> </i>
          {{ "AUTH.LOGOUT" | translate}}
        </button>
      </li>
    </ul>
  </div>
</nav>
