<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LaborationApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      *ngIf="(auth.currentUser$ | async) !== null"
      class="navbar-nav mr-auto text-left"
    >
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <div *ngIf="(auth.currentUser$ | async).role == 'Worker'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tips">
            <i class="fa fa-heart"></i>
            Tips
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedbacks">
            <i class="fa fa-comment"></i>
            Feedbacks
          </a>
        </li>
      </div>

      <li *ngIf="(auth.currentUser$ | async).role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/factors">
          <i class="fa fa-cog"></i>
          Factors
        </a>
      </li>
      <li *ngIf="(auth.currentUser$ | async).role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/tips">
          <i class="fa fa-heart"></i>
          Tips
        </a>
      </li>

      <div *ngIf="(auth.currentUser$ | async).role == 'Enterpreneur'">
        <li class="nav-item">
          <a class="nav-link" routerLink="/company">
            <i class="fa fa-building"></i>
            Company
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/company/feedbacks">
            <i class="fa fa-comment"></i>
            Feedbacks
          </a>
        </li>
      </div>
    </ul>

    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <label style="color: white" class="mr-2">EN</label>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="isUa"
            (change)="changedLanguage()"
          />
          <span class="slider round"></span>
        </label>
        <label style="color: white" class="ml-2">UA</label>
      </li>
    </ul>

    <div>
      <ul
        *ngIf="(auth.currentUser$ | async) === null"
        class="navbar-nav ml-auto"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">
            <i class="fa fa-user"> </i>
            Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fa fa-sign-in"> </i>
            Sign In
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <ul *ngIf="(auth.currentUser$ | async) !== null" class="navbar-nav ml-auto">
      <li class="nav-item">
        <button (click)="logout()">
          <i class="fa fa-sign-out"> </i>
          Log out
        </button>
      </li>
    </ul>
  </div>
</nav>
