<div class="container login-container">
    <div class="row justify-content-center">
        
        <div class="col-md-6 login-form-2">
            <h3>Login</h3>
            <form>
                <div class="form-group">
                    <input type="text" [(ngModel)]="email" required
                    class="form-control" placeholder="Your Email *" name="email" />
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="password" required
                    class="form-control" placeholder="Your Password *" name="password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btnSubmit" (click)="login()"> Send</button>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group mr-5">
                        <a href="#" class="ForgetPwd">Forget Password?</a>
                    </div>
                    <div class="form-group">
                        <a href="register" class="ForgetPwd" value="Register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>