<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h5 class="text-center">{{"AUTH.REGISTER.REGISTER" | translate}}</h5>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-user fa mr-2" aria-hidden="true"></i>
                <label for="name" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.FIRSTNAME" | translate}}</label
                ></span
              >
              <input
                type="text"
                class="form-control"
                placeholder=""
                formControlName="firstname"
              />
              <div
                class="danger"
                *ngIf="
                  registerForm.controls['firstname'].invalid &&
                  registerForm.controls['firstname'].touched
                "
              >
                Error
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-user fa mr-2" aria-hidden="true"></i>
                <label for="name" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.SECONDNAME" | translate}}</label
                ></span
              >
              <input
                type="text"
                class="form-control"
                placeholder=""
                formControlName="secondname"
              />
              <div
                class="danger"
                *ngIf="
                  registerForm.controls['secondname'].invalid &&
                  registerForm.controls['secondname'].touched
                "
              >
                Error
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div>
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-envelope fa mr-2" aria-hidden="true"></i>
                <label for="email" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.EMAIL" | translate}}</label
                >
              </span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                formControlName="email"
              />
              <div
                class="danger"
                *ngIf="
                  registerForm.controls['email'].invalid &&
                  registerForm.controls['email'].touched
                "
              >
                Error
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-calendar fa-lg mr-2" aria-hidden="true"></i>
                <label for="password" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.AGE" | translate}}</label
                >
              </span>
              <input
                type="number"
                class="form-control"
                min="10"
                max="99"
                formControlName="age"
              />

              <div
                class="danger"
                *ngIf="
                  registerForm.controls['age'].invalid &&
                  registerForm.controls['age'].touched
                "
              >
                Error
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-lock fa-lg mr-2" aria-hidden="true"></i>
                <label for="password" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.PASSWORD" | translate}}</label
                >
              </span>
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
              <div
                class="danger"
                *ngIf="
                  registerForm.controls['password'].invalid &&
                  registerForm.controls['password'].touched
                "
              >
                Error
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-lock fa-lg mr-2" aria-hidden="true"></i>
                <label for="confirm" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.CONFIRMPASSWORD" | translate}}</label
                ></span
              >
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
              />

              <label
                class="bg-danger"
                *ngIf="
                  registerForm.controls['confirmPassword'].invalid &&
                  registerForm.controls['confirmPassword'].touched
                "
              >
                Error
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div>
              <span class="input-group-addon"
                ><i class="fa fa-users fa-lg mr-2" aria-hidden="true"></i>
                <label for="password" class="cols-sm-2 control-label"
                  >{{"AUTH.REGISTER.ROLE" | translate}}</label
                >
              </span>
              <select class="form-control" formControlName="role">
                <option value="Admin">Admin</option>
                <option value="Enterpreneur">Enterpreneur</option>
                <option value="Worker">Worker</option>
              </select>

              <label
                class="error"
                *ngIf="
                  registerForm.controls['role'].invalid &&
                  registerForm.controls['role'].touched
                "
              >
                Error
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button
            [disabled]="!registerForm.valid"
            type="submit"
            id="button"
            class="btn btn-primary btn-lg btn-block login-button"
          >
          {{ "AUTH.REGISTER.REGISTER" | translate}}
          </button>
        </div>
        <div class="text-center">
          <h2>{{ "AUTH.LOGIN.LOGINAS" | translate}}</h2>
          <div class="row">
              <div class="col-md-3">
                  <button class="btn btn-success" (click)="quickLogin('admin.test@gmail.com', 'Password1')">
                    {{ "AUTH.REGISTER.ADMIN" | translate}}</button>
              </div>
              <div class="col-md-3 ml-2">
                  <button class="btn btn-success"  (click)="quickLogin('enterpreneur.test@gmail.com', 'Password1')">
                    {{ "AUTH.REGISTER.ENTERPRENEUR" | translate}}</button>
              </div>
              <div class="col-md-3 offset-md-2">
                  <button class="btn  btn-success" (click)="quickLogin('worker.test@gmail.com', 'Password1')">
                    {{ "AUTH.REGISTER.WORKER" | translate}}</button>
              </div>
          </div>
      </div>
      </form>
    </div>
    
  </div>
</div>
