<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">{{ "INFO" | translate }}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ "TIP.NAME" | translate }}</label>
        <h5>
            {{tip.name}}
        </h5>
      </div>
      <div class="form-group">
        <label>{{ "TIP.COEFSUM" | translate }}</label>
        <h5>
            {{tip.coefficientSum}}
        </h5>
      </div>
      <div class="form-group">
        <label>{{ "TIP.TEXT" | translate }}</label>
        <h5>
            {{tip.text}}
        </h5>
      </div>
      <div class="form-group" *ngIf="tip.healthFactor != null">
        <label>{{ "TIP.HELATHF" | translate }}</label>
        <h5>
            {{tip.healthFactor.name}}
        </h5>
      </div>
      <div class="form-group" *ngIf="tip.mentalFactor != null">
        <label>{{ "TIP.MENTALf" | translate }}</label>
        <h5>
            {{tip.mentalFactor.name}}
        </h5>
      </div>
      <div class="form-group" *ngIf="tip.sleepFactor != null">
        <label>{{ "TIP.SLEEPF" | translate }}</label>
        <h5>
            {{tip.sleepFactor.name}}
        </h5>
      </div>
      <div class="form-group" *ngIf="tip.laborFactor != null">
        <label>{{ "TIP.LABORF" | translate }}</label>
        <h5>
            {{tip.laborFactor.name}}
        </h5>
      </div>
  
      <div class="modal-footer">
        <button class="btn btn-primary mr-2" (click)="modal.dismiss('Cancel')">
          {{ "CLOSE" | translate }}
        </button>
      </div>
    </form>
  </div>
  