<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">{{ "ADD" | translate }}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="tipModel" >
     
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          required
  
          class="form-control"
          placeholder="Name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea
          type="text"
          required
          class="form-control"
          placeholder="text"
          formControlName="text"
        ></textarea>
      </div>

      <div class="form-group">
        <label>Health Factor</label>
        <select          
          class="form-control"
          formControlName="healthFactorId">
          <option *ngFor="let factor of healthFactors" [value]="factor.id">
            {{factor.name}}
          </option>
        </select>   
      </div>

      <div class="form-group">
        <label>Mental Factor</label>
        <select          
          class="form-control"
          formControlName="mentalFactorId">
          <option *ngFor="let factor of mentalFactors" [value]="factor.id">
            {{factor.name}}
          </option>
        </select>   
      </div>

      <div class="form-group">
        <label>Sleep Factor</label>
        <select          
          class="form-control"
          formControlName="sleepFactorId">
          <option *ngFor="let factor of sleepFactors" [value]="factor.id">
            {{factor.name}}
          </option>
        </select>   
      </div>

      <div class="form-group">
        <label>Labor Factor</label>
        <select          
          class="form-control"
          formControlName="laborFactorId">
          <option *ngFor="let factor of laborFactors" [value]="factor.id">
            {{factor.name}}
          </option>
        </select>   
      </div>
     
  
      <div class="modal-footer">
        <button class="btn btn-primary mr-2" (click)="modal.dismiss('Cancel')">
          Cancel
        </button>
        <button type="submit" (click)="createTip()" [disabled]="!tipModel.valid" 
        class="btn btn-success">{{ "ADD" | translate}}</button>
      </div>
    </form>
  </div>
  